.footer{
    padding: 0.2rem 2rem 0.3rem 1.4rem;
    background-color: $primary;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    @include phone-version{
        flex-flow: column nowrap;
    }
}


.main{
    background-color: $clearest;
    width: 100%;
    margin: auto;
    height: 30rem;
    position: relative;
    z-index: 0;
}