.listUser{
    position: fixed;
    z-index: 8;
    bottom: 54px;
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: $clearest;
    border-top-right-radius: 30px;
    &__list{
        max-height: 35vh;
        overflow-y: scroll;      
    }
    
    &>button{
        background-color: $secondary;
    }
    @include tablet-version{
        display: none;
    }
    @include phone-version{
        display: none;
    }
}

.iconList{
    color: $clearest;
    margin-right: 0.3rem;
}

.userText{
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}