


.article{
    background-color: $primary;
    border-radius: 25px;
    margin-top: 1rem;
    min-width: 70%;
    @include box-shadow;
    &--comment{
        background-color: $tertiary;
    }
}

.imagePost{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    min-width: 100%;
    max-height: 16rem;
}




.msgCacher{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;
    justify-content: center;
    &>p:hover{
        cursor: pointer;
    }
}