* {
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
}

html{
    font-size: 100%;
}

h1, h2, h3, p, a{
    text-decoration: none;
    color: black;
    border: none;
}





.logoNoir{
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}