.sectionProfil{
    width: 60%;
    margin: auto;
    background-color: $tertiary;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 5rem;
    &__haut{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        column-gap: 3rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        @include tablet-version{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }
        @include phone-version{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }
        &>form{
            display: flex;
            flex-flow: column nowrap;
            row-gap: 0.1rem;
        }
        &__img{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            &>label{
                margin-bottom: 0.4rem;
                font-weight: 700;
                color: $secondary;
            }
        }
    }
    &__milieu{
        display: flex;
        flex-flow: row nowrap;
        column-gap: 3rem;
    }
    &__bas{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    @include large-version{
        min-width: 64rem;
    }
    @include desktop-version{
        min-width: 63rem;
    }
    @include tablet-version{
        width: 100%;
    }
    @include phone-version{
        width: 100%;
    }
}

.check{
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    column-gap: 0.4rem;
}

.changeProfilImg{
    width: 8rem;
    opacity: 0;
    height: 8rem;
    border: solid 2px green;
    position: absolute;
    justify-self: baseline;
    z-index: 4;
    cursor: pointer;
}

.imageProfil--preview{
    transform: translateY(0.7rem);
    border-radius: 500px;
    height: 5.7rem;
    width: 5.7rem;
    object-fit: cover;
    position: absolute;
    justify-self: baseline;
    z-index: 3;
    cursor: pointer;
}