.sectionProfil{
    width: 60%;
    margin: auto;
    background-color: $tertiary;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 5rem;
    &__haut{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        column-gap: 3rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        &>form{
            display: flex;
            flex-flow: column nowrap;
            row-gap: 0.1rem;
        }
    }
    &__milieu{
        display: flex;
        flex-flow: row nowrap;
        column-gap: 3rem;
    }
    &__bas{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}